html {
  background: url(https://ian-jl-chua.github.io/myblog/foggy-mountains-nature-fog.jpg) no-repeat center center fixed;
}

body{
  background-color: rgb(0,0,0,0);
  color: whitesmoke;
}
a:link, a:visited { 
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
} 

a:hover, a:active {
  color: #a52626;
  background-color: transparent;
  text-decoration: underline;
}
.container{
  max-width: 996px;
}