body{
  background-color: black;
  color: whitesmoke;
}
a:link, a:visited { 
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
} 

a:hover, a:active {
  color: #a52626;
  background-color: transparent;
  text-decoration: underline;
}
.container{
  max-width: 996px;
}