html{
  background: url(https://ian-jl-chua.github.io/blog/foggy-mountains-nature-fog.jpg) no-repeat center center fixed;
  background-size: cover;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(0,0,0,0.6);
  color: whitesmoke;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(99, 105, 99);
  padding: 10px;
  border-width: 5px 5px 5px;
}

ul.nav li {float: left;}

ul.nav li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 12px 50px;
}

ul.nav li a:hover:not(.active) {
  background-color: rgb(22, 56, 22);
  color: whitesmoke; 
}
  
ul.nav li a.active {
  background-color: rgb(245, 245, 245, 0.8);
  color: rgb(22, 56, 22);
}

a:link, a:visited { 
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
} 

a:hover, a:active {
  color: rgb(22, 56, 22);
  background-color: transparent;
  text-decoration: underline;
}

.main{
  background-color: rgb(0,0,0,0.6);
  color: whitesmoke;
  border-style: solid;
  border-color: rgb(99, 105, 99);
  padding: 10px;
  border-width: 5px 5px 5px;
  border-radius: 5px;
}

.para{
  background-color: rgb(0,0,0,0.4);
  color: whitesmoke;
  border-style: solid;
  border-color: rgb(99, 105, 99);
  padding: 10px;
  border-width: 5px 5px 5px;
  border-radius: 5px;
}
#align1{
  border-width: 5px 5px 5px;
  padding: 20px;
  margin: 30px;
}

@media screen and (max-width: 600px) {
  ul.nav li {float: none;}
}