html{
  background: url(https://ian-jl-chua.github.io/blog/foggy-mountains-nature-fog.jpg) no-repeat center center fixed;
  background-size: cover;
}

.theblog{
  background-color: rgb(0,0,0,0.6);
  color: whitesmoke;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(99, 105, 99);
  padding: 10px;
}

.navbar{
  background-color: rgb(0,0,0,0.6);
    color: whitesmoke;
    border-width: 2.5px 5px 5px;
    border-style: solid;
    border-color: rgb(99, 105, 99);
    padding: 10px;
}

a:link, a:visited { 
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
} 

a:hover, a:active {
  color: rgb(22, 56, 22);
  background-color: transparent;
  text-decoration: underline;
}