/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@600&display=swap');
/* CSS for above ^ font-family: 'Noto Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
/* ^ font-family: 'Metal Mania', cursive; */

/* Variable CSS */
:root {
  --header-height: 3.5rem;
  --background: url('../assets/foggy-mountains-nature-fog.jpg');
  --main-dark1: hsl(112, 10%, 16%);
  --main-dark2: hsl(100, 63%, 10%);
  --main-dark3: hsla(103, 35%, 16%, 0.5);
  --active-color: hsl(81, 62%, 19%);
  --link-color: hsl(140, 26%, 55%);
  --text-color: whitesmoke;

  /* Typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Main */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  font-weight: var(--font-regular);
}

body {
  background: var(--background) no-repeat center fixed;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reuse */
.main {
  overflow: hidden;
}

/* .grid {
  display: grid;
  gap: 1.5rem;
}

.container {
  grid-template-columns: 1fr 1fr;
} */

.section {
  padding: 1.5rem;
  margin: 0.5rem 0;
  background-color: var(--main-dark3);
  color: var(--text-color);
}

.title {
  display: flex;
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  padding: 2rem 1.5rem;
  place-content: center;
}

.blog-article {
  padding: 1rem;
  background-color: var(--main-dark2);
  border: 2px solid var(--main-dark2);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.blog-question {
  font-size: 1.25em;
  padding-bottom: 1.5rem;
}

.blog-answer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  word-spacing: 1px;
}

.blog-points {
  padding: 0 2rem;
  list-style: circle;
}

/* Fade text */
.fade-txt {
  position: relative;
}

.initial-text,
.hover-text {
  transition: opacity 2.5s ease;
}

.initial-text {
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.hover-text {
  opacity: 0;
  z-index: 2;
}

.fade-txt:hover .initial-text {
  opacity: 0;
}

.fade-txt:hover .hover-text {
  opacity: 1;
}

/* Header and Nav */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--main-dark1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  z-index: 100;
}

.nav-menu {
  width: 100%;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  flex-wrap: wrap;
}

.nav-link {
  color: var(--link-color);
  font-weight: var(--font-medium);
  transition: color 0.6s;
}
.nav-link:is(:hover, :active) {
  color: var(--active-color);
}

/* Section1 */
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-para {
  padding-bottom: 1.5rem;
  font-size: var(--h2-font-size);
  text-align: center;
}

/* Cards in section2 */
figcaption {
  position: absolute;
  left: -1000px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 2.5rem;
}

.card {
  scroll-margin-top: 8rem;
  width: min(100%, 450px);
  background-color: var(--main-dark2);
  border: 5px solid var(--active-color);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transition: 1.5s;
  border: 5px solid var(--link-color);
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  height: 280px;
  border-radius: 5px;
}

.card-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  align-items: center;
  font-size: var(--bigger-font-size);
}

.card-link {
  color: var(--text-color);
  padding: 0.5rem;
  border: 1px solid var(--active-color);
}
.card-link:hover {
  transition: 0.5s;
  color: var(--link-color);
  border: 2px solid var(--link-color);
}

/* Media Query */

@media screen and (min-width: 576px) {
  .card:nth-child(5) {
    height: 450px;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .card-container {
    gap: 3rem;
  }

  .card {
    width: min(100%, 290px);
  }

  .card:nth-child(5) {
    height: 342px;
  }

  .card img {
    height: 180px;
  }

  .card-list {
    margin: 1.5rem;
    padding: 0.5rem;
    gap: 1.5rem;
    align-items: center;
    font-size: var(--font-medium);
  }
}

/* Larger */
@media screen and (min-width: 1024px) {
  .card-container {
    gap: 2rem;
  }

  .card:nth-child(5) {
    height: 342px;
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    gap: 2.5rem;
  }

  .card {
    width: min(100%, 550px);
  }

  .card:nth-child(5) {
    height: 500px;
  }

  .card img {
    height: 340px;
  }

  .card-list {
    margin: 1.5rem;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
    font-size: var(--bigger-font-size);
  }
}
