/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@600&display=swap');
/* CSS for above ^ font-family: 'Noto Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
/* ^ font-family: 'Metal Mania', cursive; */

/* Variable CSS */
:root {
  --header-height: 3.5rem;
  --background: url(https://ian-jl-chua.github.io/assets/foggy-mountains-nature-fog.jpg);
  --nav-color1: hsl(112, 10%, 16%);
  --section-color: hsla(103, 35%, 16%, 0.6);
  --text-color: whitesmoke;
  --active-color: hsl(81, 62%, 19%);
  --link-color: hsl(140, 26%, 55%);
  --card-color: hsl(100, 63%, 10%);

  /* Typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Main */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
}

body {
  background: var(--background) no-repeat center fixed;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reuse */
.main {
  overflow: hidden;
}

.section {
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: var(--section-color);
  color: var(--text-color);
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: var(--biggest-font-size);
  padding: 2rem 1rem;
}

/* Header and Nav */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--nav-color1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  z-index: 100;
}

.nav-menu {
  width: 100%;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.nav-link {
  color: var(--link-color);
  font-weight: var(--font-medium);
  transition: color 0.6s;
}

.nav-link:is(:hover, :active) {
  color: var(--active-color);
}

/* Fade text */
.fade-txt {
  position: relative;
  display: inline-block;
}

.initial-text,
.hover-text {
  transition: opacity 2.5s ease;
}

.initial-text {
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.hover-text {
  /* position: absolute; */
  opacity: 0;
  z-index: 2;
}

.fade-txt:hover .initial-text {
  opacity: 0;
}

.fade-txt:hover .hover-text {
  opacity: 1;
}

/* Cards in section */
figcaption {
  position: absolute;
  left: -1001px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 2.5rem;
}

.card {
  scroll-margin-top: 8rem;
  width: min(100%, 450px);
  background-color: var(--card-color);
  border: 5px solid var(--active-color);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transition: 1.5s;
  border: 5px solid var(--link-color);
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  height: 250px;
  border-radius: 5px;
}

/* Media Query */

@media screen and (min-width: 576px) {
  /* to do */
}
